name: lpro2
description: "LPro Real Estate Platform - Premium Version"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  firebase_core: ^2.24.2
  firebase_auth: ^4.15.3
  cloud_firestore: ^4.13.6
  flutter_svg: ^2.0.9
  intl_phone_field: ^3.2.0
  url_launcher: ^6.3.2 # أعدنا إضافة هذه المكتبة هنا
  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/logo.svg